body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#instructions {
    position: fixed;
    inset: 0;

    z-index: 9999;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.85);

    color: white;
}

#instructions h2 {
    margin-bottom: 20px;
}

#instructions img {
    width: 250px;
    max-width: 80vw;
}